<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center"> Ajouter une entretien</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <form [formGroup]="form" (ngSubmit)="addEntretien()">
    <ion-item>
      <ion-input placeholder="code Entretien" type="number"  formControlName="codeEnt" name="codeEnt"></ion-input>
      </ion-item>
      <ion-item>
      <ion-input placeholder="Nom Entretien" formControlName="libelle" type="text" name="libelle"></ion-input>

      </ion-item>


      <ion-button size="small" color="success" type="submit"> ajouter </ion-button>
      </form>

       </ion-card-content>
</ion-card>
 </ion-content>

