<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"> modifier un superviseur </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="ion-padding">
    <div class="container">
      <div class="row bg_1">
        <form [formGroup]="form" (ngSubmit)="editSup()">
        <div class="col-3">
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input
                type="text"
                formControlName="mail" name="mail"
              ></ion-input>
            </ion-item>
          </div>

          <div class="col-3">
            <ion-item>
              <ion-label position="stacked">Nom</ion-label>
              <ion-input
                type="text" formControlName="nom" name="nom"
              ></ion-input>
            </ion-item>
          </div>

          <div class="col-3">
            <ion-item>
              <ion-label position="stacked">Prénom</ion-label>
              <ion-input
                type="text" formControlName="pre" name="pre"
              ></ion-input>
            </ion-item>
          </div>
          <div class="col-3">
            <ion-item>
              <ion-label position="stacked">Date de naissance</ion-label>
              <ion-input
                type="date" formControlName="dn" name="dn"
              ></ion-input>
            </ion-item>
          </div>
          <div class="col-3">
            <ion-item>
              <ion-label position="stacked">Date d'embauche</ion-label>
              <ion-input
                type="date"

                formControlName="de" name="de"
              ></ion-input>
            </ion-item>
          </div>
          <div class="col-3">
            <ion-item>
              <ion-label position="stacked">Adresse</ion-label>
              <ion-input
                type="text"
               formControlName="adr" name="adr"
              ></ion-input>
            </ion-item>
          </div>

          <div class="col-3">
            <ion-item>
              <ion-label position="stacked"> N° téléphone</ion-label>
              <ion-input
                type="texte"
                formControlName="num" name="num"
              ></ion-input>
            </ion-item>
          </div>
          <div class="col-3">
            <ion-input
              type="file"
              name="image"
            ></ion-input>
          </div>

          <div class="col-3">
            <div class="container-form-btn">
              <ion-button
                shape="round"
                type="submit"
                >modifier</ion-button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
