<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b>Fleetlt</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-icon name="notifications" slot="end" size="large"></ion-icon>


  </ion-toolbar>
</ion-header>


<ion-content>
<ion-card>
 <ion-card-header>
      <ion-card-title class="ion-text-center"
         style="color: #9933ff"><b> Notification</b>
      </ion-card-title>
       </ion-card-header>

<ion-row>
<ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

 <ion-card >


 <ion-card-header
 color="light"


          ><ion-row>
          <ion-col size="2">
          <ion-icon name="notifications" style="color: #ff5cff" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <div><b>Votre demande est prise en considération on vous notifie lorsque un vehicule soit prêt</b></div>
            </ion-col>
            <ion-icon name="close"  color="danger"></ion-icon>
            </ion-row>
          </ion-card-header>








  </ion-card>




  </ion-col>
  <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

 <ion-card >

<center>

 <ion-card-header
 color="light"

          >
<ion-row>
          <ion-col size="2">
          <ion-icon name="notifications" style="color: #ff5cff" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <div><b>Votre demande est prise en considération on vous notifie lorsque un vehicule soit prêt</b></div>
            </ion-col>
            <ion-icon name="close"  color="danger"></ion-icon>
            </ion-row>          </ion-card-header>





</center>


  </ion-card>




  </ion-col>
  <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

 <ion-card >

<center>

 <ion-card-header
 color="light"


          >
<ion-row>
          <ion-col size="2">
          <ion-icon name="notifications" style="color: #ff5cff" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <div><b>Votre Réclamation de type Réclamation de service  et d'objet Réclamation à propos frais de kilométrage est bien reçu</b></div>
            </ion-col>
            <ion-icon name="close"  color="danger"></ion-icon>
            </ion-row>          </ion-card-header>





</center>


  </ion-card>




  </ion-col>

  </ion-row>
  </ion-card>
</ion-content>

