<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"> <b> Fleetlt</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="notifications" slot="end" size="large"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: #9933ff">
        modifier un véhicule</ion-card-title
      >
    </ion-card-header>

    <form [formGroup]="form" (ngSubmit)="editCar()">
      <ion-grid>
        <ion-row>
          <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked">Matricule</ion-label>
                <ion-input
                  type="text"
                  formControlName="Matricule"
                  name="Matricule"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.Matricule">
                <ng-container
                  *ngIf="
                    Matricule.hasError(error.type) &&
                    (Matricule.dirty || Matricule.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked">Type de véhicule</ion-label>
                <ion-select type="text" formControlName="TypeV" name="TypeV">
                  <ion-select-option>Voiture</ion-select-option>
                  <ion-select-option>Camion</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngFor="let error of errorMessages.TypeV">
                <ng-container
                  *ngIf="
                    TypeV.hasError(error.type) && (TypeV.dirty || TypeV.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col padding size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked">Marque</ion-label>
                <ion-input
                  type="text"
                  formControlName="Marque"
                  name="Marque"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.Marque">
                <ng-container
                  *ngIf="
                    Marque.hasError(error.type) &&
                    (Marque.dirty || Marque.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked">Nombre de place</ion-label>
                <ion-input
                 type="number"
                  formControlName="NbrPlace"
                  name="NbrPlace"
                ></ion-input>
              </ion-item>

            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col padding size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div class="col-3">
              <ion-item>
                <ion-label position="stacked">Puissance(W)</ion-label>
                <ion-input
                  type="number"
                  formControlName="Puiss"
                  name="Puiss"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.Puiss">
                <ng-container
                  *ngIf="
                    Puiss.hasError(error.type) && (Puiss.dirty || Puiss.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col padding size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked">Capacité(Kg)</ion-label>
                <ion-input
                  type="number"
                  formControlName="Cap"
                  name="Cap"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.Cap">
                <ng-container
                  *ngIf="Cap.hasError(error.type) && (Cap.dirty || Cap.touched)"
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ion-col
            padding
            size-xs="6"
            size-sm="6"
            size-md="6"
            size-lg="6"
          >
            <div>
              <ion-item>
                <ion-label position="stacked">Type de Carburant</ion-label>
                <ion-select formControlName="TypeC" name="TypeC">
                  <ion-select-option>Essence</ion-select-option>
                  <ion-select-option>Diesel</ion-select-option>
                  <ion-select-option> Carburants gazeux </ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngFor="let error of errorMessages.TypeC">
                <ng-container
                  *ngIf="
                    TypeC.hasError(error.type) && (TypeC.dirty || TypeC.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col padding size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked"
                  >Consommation de carburant</ion-label
                >
                <ion-input
                  type="number"
                  formControlName="ConsoC"
                  name="ConsoC"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.ConsoC">
                <ng-container
                  *ngIf="
                    ConsoC.hasError(error.type) &&
                    (ConsoC.dirty || ConsoC.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col padding size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked">Type de permis</ion-label>
                <ion-select formControlName="TypeP" name="TypeP">
                  <ion-select-option>A</ion-select-option>
                  <ion-select-option>B </ion-select-option>
                  <ion-select-option>C</ion-select-option>
                  <ion-select-option>D </ion-select-option>
                  <ion-select-option>E </ion-select-option>
                  <ion-select-option>H</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngFor="let error of errorMessages.TypeP">
                <ng-container
                  *ngIf="
                    TypeP.hasError(error.type) && (TypeP.dirty || TypeP.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col padding size-xs="6" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked"> Année de fabrication</ion-label>
                <ion-input
                  type="number"
                  formControlName="AnFab"
                  name="AnFab"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.AnFab">
                <ng-container
                  *ngIf="
                    AnFab.hasError(error.type) && (AnFab.dirty || AnFab.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">
            <div class="col-3">
              <ion-item>
                <ion-label position="stacked">Kilométrage(Km)</ion-label>
                <ion-input
                  type="number"
                  formControlName="Kilo"
                  name="Kilo"
                ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.Kilo">
                <ng-container
                  *ngIf="
                    Kilo.hasError(error.type) && (Kilo.dirty || Kilo.touched)
                  "
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
            <div>
              <ion-item>
                <ion-label position="stacked">Objet</ion-label>
                <ion-select formControlName="Mot" name="Mot" multiple>
                  <ion-select-option>Location</ion-select-option>
                  <ion-select-option>Livraison</ion-select-option>
                  <ion-select-option>Maintenance</ion-select-option>
                  <ion-select-option>Transportation</ion-select-option>
                  <ion-select-option>Déplacement</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngFor="let error of errorMessages.Mot">
                <ng-container
                  *ngIf="Mot.hasError(error.type) && (Mot.dirty || Mot.touched)"
                >
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <center>
        <div>
          <div class="container-form-btn">
            <ion-button shape="round" type="submit">modifier</ion-button>
          </div>
        </div>
      </center>
    </form>
  </ion-card>
</ion-content>
