<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center">modifier un chauffeur</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <form [formGroup]="form" (ngSubmit)="editDriver()">
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="mail" type="text" name="mail"> </ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input formControlName="nom" type="text" name="nom"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Prénom</ion-label>
        <ion-input formControlName="pre" type="text" name="pre"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Adresse</ion-label>
        <ion-input formControlName="adr" type="text" name="adr"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">N° Télephone</ion-label>
        <ion-input formControlName="num" type="text" name="num"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Date de naissance</ion-label>
        <ion-input formControlName="dn" type="date" name="dn"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Date d'embauche</ion-label>
        <ion-input formControlName="de" type="date" name="de"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Type de permis</ion-label>
        <ion-select formControlName="typ" name="typ">
          <ion-select-option>A</ion-select-option>
          <ion-select-option>B </ion-select-option>
          <ion-select-option>C</ion-select-option>
          <ion-select-option>D </ion-select-option>
          <ion-select-option>E </ion-select-option>
          <ion-select-option>H</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Nom Superviseur</ion-label>
        <ion-input
          formControlName="nomsup"
          type="text"
          name="nomsup"
        ></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Mot de Passe</ion-label>
        <ion-input formControlName="pwd" type="text" name="pwd"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <div class="container-form-btn">
        <ion-button shape="round" type="submit">Ajouter</ion-button>
      </div>
    </div>
  </form>
</ion-content>
