<ion-header class="menu-header"> </ion-header>
<ion-content>
  <ion-card>
    <ion-card-header color="light">
      <ion-card-title class="ion-text-center">détails chauffeur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div>
          <ion-label color="dark"
            ><b>Nom:</b> {{ currentDriver.Nom }}
          </ion-label>
        </div>
        <div>
          <ion-label color="dark"
            ><b>prenom:</b>{{ currentDriver.prenom }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"> <b>N° téléphone:</b>{{ currentDriver.NumTel}}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark" (ngModelChange)="currentDriver.DateNaissance= $event"  ><b>Date de naissance:</b>{{ currentDriver.DateNaissance  |date: 'MM/dd/yyyy' }}</ion-label
           >
        </div>

        <div>
          <ion-label color="dark"
            ><b>Email:</b> {{ currentDriver.Email }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"
            ><b>Date d'embauche:</b>{{ currentDriver.DateEmbauche |date: 'MM/dd/yyyy'}}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"><b>Type de permis:{{currentDriver.TypesPermis}}</b></ion-label>
        </div>
        <div>
          <ion-label color="dark"
            ><b>Disponibilté:</b>{{ currentDriver.Disponibilite }}
          </ion-label>
        </div>

        <div>
          <ion-label color="dark"
            ><b>Adresse:</b>{{ currentDriver.Adresse }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"
            ><b>Nom de superviseur:</b>{{ currentDriver.NomSup }}</ion-label
          >
        </div>
        <br/>
<ion-footer>

<center>
      <ion-button size="small" shape="round" color="primary" [routerLink]="['/updateDriver']">
        modifier
      </ion-button>
      <ion-button
        size="small"
        color="danger"
        shape="round"
        style="margin-left: 30px"
        (click)="deleteDriver()"
      >
        supprimer
      </ion-button>
      </center>
      </ion-footer>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
