<ion-header class="menu-header"> </ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">détails chauffeur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div>
          <ion-label color="dark"
            ><b>Nom:</b> {{ currentDriver.nom }}
          </ion-label>
        </div>
        <div>
          <ion-label color="dark"
            ><b>prenom:</b>{{ currentDriver.pre }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"> <b>N° téléphone:</b>{{ currentDriver.num}}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark" (ngModelChange)="currentDriver.dn= $event"  ><b>Date de naissance:</b>{{ currentDriver.dn | date: 'yyyy-MM-dd' }}</ion-label
           >
        </div>

        <div>
          <ion-label color="dark"
            ><b>Email:</b> {{ currentDriver.mail }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"
            ><b>Date d'embauche:</b>{{ currentDriver.de }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"><b>Type de permis:</b></ion-label>
        </div>
        <div>
          <ion-label color="dark"
            ><b>Disponibilté:</b>{{ currentDriver.Dispo }}
          </ion-label>
        </div>

        <div>
          <ion-label color="dark"
            ><b>Adresse:</b>{{ currentDriver.adr }}</ion-label
          >
        </div>
        <div>
          <ion-label color="dark"
            ><b>Nom de superviseur:</b>{{ currentDriver.nomsup }}</ion-label
          >
        </div>

      <ion-button size="small" color="success" [routerLink]="['/updateDriver']">
        modifier
      </ion-button>
      <ion-button
        size="small"
        color="danger"
        shape="round"
        (click)="deleteDriver()"
      >
        supprimer
      </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
