<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> chauffeurs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div>
      <ion-button
        size="small"
        color="light"
        expand="round"
        slot="end"
        (click)="goToAddPage('addDriver')"
      >
        Ajouter un chaffeur
        <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button size="small" expand="round" color="light">
        supprimer tous!
        <ion-icon name="close-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
  <br />
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        liste des chauffeurs</ion-card-title
      >
    </ion-card-header>


      <ion-card *ngFor="let l of list" (click)="goToListPage('listDriver', l.id)">
        <ion-item>

            <ion-row >

                <ion-avatar dlot="start">
                  <ion-img src="assets/images/rania1.jpg"> </ion-img>
                </ion-avatar>

              <ion-col >
                <ion-card-title class="ion-margin-horizontal">
                  {{ l.Nom }} {{ l.prenom }}
                </ion-card-title>
                <ion-card-subtitle class="ion-margin-horizontal">
                  {{ l.Email }}
                </ion-card-subtitle>
                 <ion-card-subtitle class="ion-margin-horizontal">
                  {{ l.Disponibilite }}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>

        </ion-item>
      </ion-card>

  </ion-card>
</ion-content>
