<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> historique des véhicules</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Liste des historiques </ion-card-title>
  </ion-card-header>
  <ion-card-content>






<ion-item>
Matricule:
</ion-item>
<ion-item>
opération:
</ion-item>
<ion-item>
description:
</ion-item>
<ion-item>
Date:
</ion-item>
<ion-button size="small" color="danger" >
      supprimer
      </ion-button>
</ion-card-content>

</ion-card>
</ion-content>
