

<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b>Fleetlt</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-icon name="notifications" slot="end" size="large"></ion-icon>
 </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"
         style="color: #9933ff"> Réclamation
      </ion-card-title>

    </ion-card-header>
    <ion-button
          color="danger"
          size="small"
          shape="round"

        >
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon> ajouter
          une Réclamation</ion-button
        >
    <br/>

<ion-row>
    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4" >
<ion-card>

<center>
 <ion-card-header
         color="light"
          style="color: #9933ff"

            class="dashboard-card-content"
          >
            <div><b>Réclamation de service</b></div>
          </ion-card-header>
<br/>

<br/>

<ion-label color="dark"><b>Objet:</b> </ion-label>
<ion-label>Réclamation à propos frais de kilométrage  </ion-label>
<br/> <br/>
<ion-label color="dark"><b>Description:</b></ion-label>
<ion-label > Pour le 02/07/2020, j'ai loué un Camion Citoen auprès de votre agence de location de vehicule .

Lors de la restitution du véhicule,
 nous avons procédé à un état des lieux contradictoire du véhicule et constaté que le kilométrage était de 100Km.

Or vous m'avez facturé un kilométrage nettement supérieur ainsi qu'une réparation
d'une rayure non constatée sur l'état des lieux et une pénalité pour des frais de carburant, ce que je conteste vivement.
 Par conséquent, je vous mets en demeure de revoir le montant de votre facture.</ion-label>
<br/> <br/>
</center>


  </ion-card>

</ion-col>
  </ion-row>
  </ion-card>
</ion-content>
