<ion-header >
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b> FLEETL</b>T</ion-title>
    <ion-buttons slot="start"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-card>
  <ion-card-header class="ion-text-center"  style="color: #9933ff"> <b>Créer un compte</b> </ion-card-header>
  <ion-card-content>
  <form class="ion-padding">
   <ion-grid style="display: flex">
        <ion-row>
          <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

    <div class="wrap-input">


      <input class="input" type="text" name="user-email" placeholder="Email" />

    </div>


    <div class="wrap-input">
      <input class="input" type="text" name="user-email" placeholder="Nom" />
    </div>
    </ion-col>
              <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

    <div class="wrap-input">
      <input class="input" type="text" name="pre" placeholder="Prénom" />
    </div>
    <div class="wrap-input">
      <input
        class="input"
        type="date"
        name="user-email"
        placeholder="Date de Naissance"
      />
    </div>
    </ion-col>
              <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

    <div class="wrap-input">
      <input
        class="input"
        type="text"
        name="user-email"
        placeholder="N° Téléphone"
      />
    </div>
    <div class="wrap-input">
      <input
        class="input"
        type="text"
        name="user-email"
        placeholder="Adresse"
      />
    </div>
    </ion-col>
              <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">


    <div class="wrap-input">
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Mot de passe"
      />
    </div>
    <div class="wrap-input">
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Comfirmer Mot de passe"
      />
    </div>
</ion-col>
</ion-row>
</ion-grid>
    <center>
      <ion-button shape="round" size="default">Enregistrer </ion-button>
    </center>
  </form>
  </ion-card-content>
  </ion-card>
</ion-content>
