<ion-header class="menu-header">

  <ion-toolbar translucent>
    <ion-title>Superviseurs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>superviseur n°1</ion-card-title>
  </ion-card-header>
  <ion-card-content>



      <div>
        <ion-label>Nom :</ion-label>
      </div>
      <div>
        <ion-label>prenom:</ion-label>
      </div>
      <div>
        <ion-label>Date de naissance:</ion-label>
      </div>
      <div>
        <ion-label>Email:</ion-label>
      </div>
<div>
      <ion-label>Date d'embauche:</ion-label>
</div>

      <div>
        <ion-label>Disponibilté</ion-label>
      </div>

      <div>
        <ion-label>Adresse:</ion-label>
      </div>


  </ion-card-content>
</ion-card>
</ion-content>










