
<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">détails superviseur </ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <div>
        <ion-label color="dark"><b>Nom </b> :{{currentSupervisor.nom}} </ion-label>
      </div>
      <div>
        <ion-label color="dark"><b>prenom:</b>{{currentSupervisor.pre}}</ion-label>
      </div>
      <div>
        <ion-label color="dark"><b>Date de naissance:</b>{{currentSupervisor.dn}}</ion-label>
      </div>
      <div>
        <ion-label color="dark"><b>Email:</b> {{currentSupervisor.mail}}</ion-label>
      </div>
       <div>
        <ion-label color="dark"><b>N° téléphone:</b> {{currentSupervisor.ntel}}</ion-label>
      </div>
<div>
      <ion-label color="dark"><b>Date d'embauche:</b>{{currentSupervisor.de}}</ion-label>
</div>

      <div>
        <ion-label color="dark"><b>Disponibilté:</b>{{currentSupervisor.Dispo}} </ion-label>
      </div>

      <div>
        <ion-label color="dark"><b>Adresse:</b>{{currentSupervisor.adr}}</ion-label>
      </div>

    <ion-button size ="small" color="success"  shape="round" [routerLink]="['/updateSupervisor']">
       modifier
      </ion-button>
      <ion-button size="small" color="danger"  shape="round" (click)="deleteSupervisor()">
      supprimer
      </ion-button>

  </ion-card-content>
</ion-card>
</ion-content>










