<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b>FLEETLT</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-icon name="notifications-circle" slot="end" size="large"></ion-icon>


<ion-icon name="arrow-forward-circle" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center" style="color: #9933ff" >Détails de la demande</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
          <center>
          <ion-label color="dark"><b>Matricule:</b>155Tu2015</ion-label>
          <br/>

           <ion-label color="dark"><b>Type de véhicule:</b>Camion</ion-label>
            <br />
            <ion-label color="dark"><b>Objet:</b>Livraion
            Transportation
            Maintenance</ion-label>
            <br/>

          <ion-label color="dark"><b>Capacité:</b>1407.6 Kg</ion-label>
            <br />

            <ion-label color="dark"><b>Nombre de place:</b>3</ion-label>

            <br />
          <ion-label color="dark"><b>Date:</b>du 15/06/2021 à 17/06/2021</ion-label>
            <br />

          <ion-label color="dark"><b>Région:</b>Auvergne-Rhône-Alpes</ion-label>
            <br />
          <ion-label color="dark"><b>Département:</b>Ain</ion-label>
            <br />
          <ion-label color="dark"><b>Rue:L'Abergement-de-Varey</b>1407.6 Kg</ion-label>
            <br />
          <ion-label color="dark"><b>Chauffeur:</b>Salem Salem</ion-label>

</center>
<br/>
<br/>


<center>

          <ion-button
            size="small"
            color="primary"
            shape="round"
            [routerLink]="['/dashboardC']"
          >
            Comfirmer
          </ion-button>
          <ion-button
            size="small"
            color="danger"
            shape="round"
            style="margin-left: 30px"
            [routerLink]="['/historiqueCar']"
          >
            Annuler
          </ion-button>
          </center>
           </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
