<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> Réservation</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Détails de la demande</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-label>Matricule :127TU2019</ion-label>
            <br />

            <ion-label>Objet:Location</ion-label>
            <br />
            <ion-label>Type de véhicule:Voiture</ion-label>
            <br />

            <ion-label>Capacité en kg: 1500</ion-label>
            <br />

            <ion-label>Nombre des places:5</ion-label>

            <br />
            <ion-label>Date début:11/05/2021</ion-label>
            <br />
            <ion-label>Date fin:12/05/2021</ion-label>
            <br />
            <ion-label>Région:Bizerte</ion-label>
            <br />
            <ion-label>Département:Mateur</ion-label>
            <br />
            <ion-label>Rue:LFH</ion-label>
            <br />
            <ion-label>Chauffeur:Ali chahbi</ion-label>




          <ion-button
            size="small"
            color="success"
            [routerLink]="['/dashboardC']"
          >
            Comfirmer
          </ion-button>
          <ion-button
            size="small"
            color="danger"
            [routerLink]="['/historiqueCar']"
          >
            Annuler
          </ion-button>
           </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
