


<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end">
          <ion-icon name="notifications-circle" ></ion-icon>

    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>


  <ion-grid class>
    <ion-row>
      <ion-col size="2"> id </ion-col>
      <ion-col size="2"> Date </ion-col>
      <ion-col size="2"> Véhicule </ion-col>
      <ion-col size="2"> Destination </ion-col>
      <ion-col size="2"> Statut </ion-col>
      <ion-col size="2"> Position </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"> 1 </ion-col>
      <ion-col size="2"> 02/03/2021 </ion-col>
      <ion-col size="2"> 127TU2019 </ion-col>
      <ion-col size="2"> Bizerte </ion-col>
      <ion-col size="2"> effectué </ion-col>
      <ion-col size="2"><ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> 2 </ion-col>
      <ion-col size="2"> 02/03/2021 </ion-col>
      <ion-col size="2"> 127TU2019 </ion-col>
      <ion-col size="2"> Bizerte </ion-col>
      <ion-col size="2">  effectué </ion-col>
      <ion-col> <ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> 3 </ion-col>
      <ion-col size="2"> 02/03/2021 </ion-col>
      <ion-col size="2"> 127TU2019 </ion-col>
      <ion-col size="2"> Bizerte </ion-col>
      <ion-col size="2"> effectué </ion-col>
      <ion-col size="2"><ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> 4 </ion-col>
      <ion-col size="2"> 02/03/2021 </ion-col>
      <ion-col size="2"> 127TU2019 </ion-col>
      <ion-col size="2"> Bizerte </ion-col>
      <ion-col size="2"> effectué </ion-col>
      <ion-col size="2"> <ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
  </ion-grid>


<ion-button color="success" size="small" shape="round" routerLink="/bilan"> Valider le bilan </ion-button>
<ion-button color="danger" size="small" shape="round"> ajouter une réclamation  </ion-button>
</ion-card>
</ion-content>

