<ion-content>
<ion-card>
<ion-card-header>
      <ion-card-title class="ion-text-center"
        >Liste des affectaions
      </ion-card-title>

    </ion-card-header>

<ion-list>
<br/>
            <ion-label><b>Voyage1:</b></ion-label>
            <br/>

            <ion-label>Véhicule:</ion-label>
            <br />
            <ion-label>Date:</ion-label>
            <br/>
             <ion-label>Destination:</ion-label>

  </ion-list>

</ion-card>

<ion-button color="light" size="small"   [routerLink]="['/trajet']"> Suivre le trajet </ion-button>
<ion-button color="light" size="small"> Valider le bilan </ion-button>
<ion-button color="light" size="small"> ajouter une réclamation  </ion-button>



</ion-content>
