
<app-driver-layout></app-driver-layout>


<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end">
          <ion-icon name="notifications-circle" ></ion-icon>

    </ion-button>
  </ion-toolbar>
</ion-header>



<ion-content>



  <ion-grid class>
    <ion-row>
      <ion-col> id </ion-col>
      <ion-col> Date </ion-col>
      <ion-col> Véhicule </ion-col>
      <ion-col> Destination </ion-col>
      <ion-col> Statut </ion-col>
      <ion-col> Position </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 1 </ion-col>
      <ion-col> 02/03/2021 </ion-col>
      <ion-col> 127TU2019 </ion-col>
      <ion-col> Bizerte </ion-col>
      <ion-col> effectué </ion-col>
      <ion-col><ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> 2 </ion-col>
      <ion-col> 02/03/2021 </ion-col>
      <ion-col> 127TU2019 </ion-col>
      <ion-col> Bizerte </ion-col>
      <ion-col> effectué </ion-col>
      <ion-col> <ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> 3 </ion-col>
      <ion-col> 02/03/2021 </ion-col>
      <ion-col> 127TU2019 </ion-col>
      <ion-col> Bizerte </ion-col>
      <ion-col> effectué </ion-col>
      <ion-col><ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> 4 </ion-col>
      <ion-col> 02/03/2021 </ion-col>
      <ion-col> 127TU2019 </ion-col>
      <ion-col> Bizerte </ion-col>
      <ion-col> effectué </ion-col>
      <ion-col> <ion-icon name="location" size="default" ></ion-icon> </ion-col>
    </ion-row>
  </ion-grid>


<ion-button color="success" size="small" shape="round"> Valider le bilan </ion-button>
<ion-button color="danger" size="small" shape="round"> ajouter une réclamation  </ion-button>

</ion-content>

