

<ion-content fullscreen="true">

  <ion-card>
    <form [formGroup]="form" (ngSubmit)="editRep()">
      <ion-item>
        <ion-label position="stacked">Matricule</ion-label>

        <ion-select
          type="text"
          formControlName="Matricule"
          name="Matricule"
        ></ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Code Entretien</ion-label>

        <ion-select
          type="text"
          formControlName="codeEnt"
          name="codeEnt"
        ></ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >Date de réparartion</ion-label
        >

        <ion-input type="Date" formControlName="date" name="date"></ion-input>
      </ion-item>
<center>
      <ion-button shape="round" type="submit"  size="small"
        >Modifier</ion-button
      >
      </center>
    </form>
  </ion-card>
</ion-content>
