<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> Entretien</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button size="small" color="light" (click)="_openPopover()"> ajouter une entretien </ion-button>

  <ion-button size="small" color="light">
    supprimer tout les entretiens
  </ion-button>
  <ion-button size="small" color="light" [routerLink]="['/addReparation']" > ajouter une réparation </ion-button>

  <ion-card *ngFor="let l of listE">
    <ion-item>
    <b> Code Entretien:</b>{{l.CodeEntretien}} </ion-item>
    <ion-item > <b>Nom Entretien:</b>{{l.NomEntretien}} </ion-item>
    <ion-button size="small" color="danger" shape="round" (click)="deleteEnt(l.code)"> supprimer </ion-button>
    <ion-button size="small" color="success" (click)="_Popover()" shape="round">
      modifier
    </ion-button>
  </ion-card>
</ion-content>
