<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b> Fleetlt</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <ion-icon name="notifications" slot="end" size="large"></ion-icon>


  </ion-toolbar>
</ion-header>
<ion-content>

 <div>
  <ion-button size="small" color="light" (click)="_openPopover()" shape="round"> <ion-icon name="add-circle-outline" slot="end"></ion-icon>
  ajouter une entretien </ion-button> </div>
 <div>
  <ion-button size="small" color="light" shape="round">
  <ion-icon name="close-circle-outline" slot="end"></ion-icon>
    supprimer tout les entretiens
  </ion-button>
  </div>

 <ion-grid style="display: flex;">
    <ion-row   >
    <ion-col *ngFor="let l of listE" padding size-xs="12" size-sm="6" size-md="6" size-lg="4" >


  <ion-card>
    <ion-item>
    <b> Code Entretien:</b>{{l.CodeEntretien}} </ion-item>
    <ion-item > <b>Nom Entretien:</b>{{l.NomEntretien}} </ion-item>
    <center>
    <ion-button size="small" color="danger" shape="round" (click)="deleteEnt(l.CodeEntretien)"> supprimer </ion-button>
    <ion-button size="small" color="success" (click)="_Popover()" shape="round"  style="margin-left: 30px" color="primary">
      modifier
    </ion-button>
    </center>
  </ion-card>
   </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>
