
<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b>FLEETLT</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-icon name="notifications" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
 <ion-card-header>
      <ion-card-title class="ion-text-center"
         style="color: #9933ff"> Réclamation
      </ion-card-title>
       </ion-card-header>
    <ion-button
          color="danger"
          size="small"
          shape="round"

        >
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon> ajouter
          une Réclamation</ion-button
        >
    <br/>
<ion-row>
<ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="4">

 <ion-card >

<center>

 <ion-card-header
 color="light"  style="color: #9933ff"


          >
            <div><b>Réclamation technique</b></div>
          </ion-card-header>
<br/>
<ion-label color="dark"><b>Email:</b> </ion-label>
<ion-label>rania@gmail.com</ion-label>
<br/>
<br/>

<ion-label color="dark"><b>Objet:</b> </ion-label>
<ion-label>Réclamation à propos le trajet  </ion-label>
<br/> <br/>
<ion-label color="dark"><b>Description:</b></ion-label>
<ion-label >   le Camion Peagot 245Tu1478  a déraillé veuiller vérifiez le trajet.</ion-label>
<br/> <br/>

</center>


  </ion-card>




  </ion-col>

  </ion-row>
  </ion-card>
</ion-content>
