<ion-content>
<ion-button color="light" size="small" shape="round" (click)="goToAddPage('addDemande')"> ajouter une demande</ion-button>

<ion-card>
<ion-card-header>
<ion-card-title>BIENVENUE!</ion-card-title>
    <ion-card-subtitle><b>Mlle.Rania voilà les  détails de votre réservation!</b></ion-card-subtitle>

  </ion-card-header>
<ion-card-content>

            <ion-label>Matricule :</ion-label>
            <br />

            <ion-label>Objet:</ion-label>
            <br />
            <ion-label>Type de véhicule:</ion-label>
            <br />

            <ion-label>Capacité en kg:</ion-label>
            <br />

            <ion-label>Nombre des places:</ion-label>

            <br />
            <ion-label>Date début:</ion-label>
            <br />
            <ion-label>Date fin:</ion-label>

            <ion-label>Mot clé:</ion-label>
            <br />
            <ion-label>Région:</ion-label>
            <br />
            <ion-label>Département:</ion-label>
            <br />
            <ion-label>Rue:</ion-label>
            <br />
            <ion-label>Chauffeur:</ion-label>

  </ion-card-content>
</ion-card>
</ion-content>
