
<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"><b>FLEETLT</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

          <ion-icon name="notifications-circle" slot="end" size="large"></ion-icon>


<ion-icon name="arrow-forward-circle" slot="end" size="large"></ion-icon>  


  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row>
    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">
<ion-card>

<ion-card-header  >
      <ion-card-title class="ion-text-center"  style="color: #9933ff">
        Profile</ion-card-title
      >
    </ion-card-header>
    <ion-car-content>
 <br/>
   <br/>
<center>
 <ion-grid>
    <ion-row>
      <ion-col>
      <ion-avatar>
        <ion-img src="assets/images/ons.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  </center>
  <center>
    <ion-label color="dark"><b>Ons Chahed</b></ion-label>

  <br/>
   <br/>
    <ion-label color="dark"><b>OnsChahed1@gmail.com</b></ion-label>

  <br/>
   <br/>

  <ion-label color="dark"><b>01/01/2000</b></ion-label>
  <br/>
   <br/>

  <ion-label color="dark"><b>Ariana</b></ion-label>
  <br/>
   <br/>

  <ion-label color="dark"><b>58729633</b></ion-label>


      </center>
       <br/>
   <br/>
    <br/>
</ion-car-content>
  </ion-card>
 </ion-col>
    <ion-col>
<ion-card>
<ion-card-header>
      <ion-card-title class="ion-text-center"  style="color: #9933ff">
        Modifier le profile</ion-card-title
      >
    </ion-card-header>
    <ion-car-content>

 <form class="ion-padding">
   <ion-grid style="display: flex">
        <ion-row>
          <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">
    <div class="wrap-input">
      <input class="input" type="text" name="user-email" placeholder="Email" />
    </div>


     </ion-col>
     <ion-col>
    <div class="wrap-input">
      <input class="input" type="text" name="user-email" placeholder="Nom" />
    </div>
    </ion-col>
              <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">

    <div class="wrap-input">
      <input class="input" type="text" name="user-email" placeholder="Prénom" />
    </div>
     </ion-col>
              <ion-col>
    <div class="wrap-input">
      <input
        class="input"
        type="date"
        name="dn"
        placeholder="Date de Naissance"
      />
    </div>
    </ion-col>
              <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">

    <div class="wrap-input">
      <input
        class="input"
        type="text"
        name="tel"
        placeholder="N° Téléphone"
      />
    </div>
     </ion-col>
              <ion-col>
    <div class="wrap-input">
      <input
        class="input"
        type="text"
        name="adresse"
        placeholder="Adresse"
      />
    </div>
    </ion-col>
              <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6">




</ion-col>
</ion-row>
</ion-grid>
    <center>
      <ion-button shape="round" size="small">modifier </ion-button>
    </center>
  </form>
  </ion-car-content>
  </ion-card>
</ion-col>
</ion-row>

</ion-content>


