
<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center">Réparation</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-title class="ion-text-center">Liste des Réparations</ion-title>
 <ion-select [(ngModel)]="Mat" type="text" name="Matricule" >
    <ion-select-option
            *ngFor="let l of list">
            {{ l.Matricule }}
          </ion-select-option>

    </ion-select>
    <ion-button (click)="listRepMatr(Mat)">search</ion-button>
<ion-card>

  <ion-card-content *ngFor = "let l of listR" >
   
      <div>
        <ion-label>Reférence : {{l.ref}}</ion-label>
      </div>
      <div>
        <ion-label>Matricule :{{l.vh}} </ion-label>
      </div>

      <div>
        <ion-label>Code Entretien:{{l.En}} </ion-label>
      </div>
<div>
      <ion-label>Date de réparation:{{l.date}}</ion-label>
</div>

    <ion-button size ="small" color="success"  [routerLink]="['/updateReparation']">
       modifier
      </ion-button>
      <ion-button size="small" color="danger">
      supprimer
      </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
