<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title class="ion-text-center"> <b>FLEETLT</b> </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <ion-icon name="notifications-circle" slot="end" size="large"></ion-icon>
<ion-icon name="arrow-forward-circle" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="display: bloc;">
  <div>
    <ion-button
      size="small"
      color="light"
      expand="round"
      slot="end"
      (click)="goToAddPage('addCar')"
    >
      Ajouter une véhicule
      <ion-icon name="add-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

<ion-card-header>
      <ion-card-title class="ion-text-center" style="color: #9933ff" >
        liste des véhicules</ion-card-title
      >
    </ion-card-header>
    <ion-grid style="display: flex;">
    <ion-row   >
    <ion-col *ngFor="let l of list" padding size-xs="12" size-sm="6" size-md="6" size-lg="4" >



      <ion-card class="level">
        <ion-item color="light"  >
          <ion-icon name="eye" slot="end" style="color: #9933ff"></ion-icon>

          <ion-card-header
            color="light"
            (click)="goToListPage('listCar', l.Matricule)"
            class="dashboard-card-content"
          >
            <div>Matricule: {{ l.Matricule }}</div>
          </ion-card-header>
        </ion-item>
        <ion-card-content>
         <ion-grid>
            <ion-row>
              <ion-col size-xs="1" offset-xs="11">
                <ion-img src="assets/icon/his.png" (click)="goToHistoPage('historiqueCar', l.Matricule)"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-label><b>Type de véhicule:</b> {{ l.Typev }}</ion-label>
          <br />

          <br />
          <ion-label><b>Nombre des places:</b>{{ l.NbrPlace }}</ion-label>
          <br />
          <br />
          <ion-label><b>Type de permis:</b>{{ l.permis }} </ion-label>
          <br />
          <br />
          <ion-label><b>Disponibilité:</b>{{ l.Dispo }} </ion-label>
          <br />
          <br />

          <ion-label><b>Etat:</b>valide </ion-label>
          <br />
          <br />
           </ion-card-content>

          <ion-footer>
          <center>
            <ion-button
              shape="round"
              size="small"
              color="primary"
              (click)="goToUpdatePage('updateCar', l.Matricule)"
            >
              modifier
            </ion-button>

            <ion-button style="margin-left: 30px"
              size="small"
              color="danger"
              shape="round"
              (click)="deleteCar(l.Matricule)"
            >
              supprimer
            </ion-button>
            </center>
          </ion-footer>

      </ion-card>
      </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>
