<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> véhicules</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div>
      <ion-button
        size="small"
        color="light"
        expand="round"
        slot="end"
        (click)="goToAddPage('addCar')"
      >
        Ajouter une véhicule
        <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button size="small" expand="round" color="light">
        supprimer tous!
        <ion-icon name="close-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
  <br />

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <b>liste des véhicules</b></ion-card-title
      >
    </ion-card-header>
    <ion-grid *ngFor="let l of list">
      <ion-card>
        <ion-card-header
          color="light"
          (click)="goToListPage('listCar', l.Matricule)"
        >
          <ion-label> Matricule: {{ l.Matricule }}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label><b>Type de véhicule:</b> {{ l.Typev }}</ion-label>
          <br />
          <br />
          <ion-label><b>Puissance:</b>{{ l.Power }}</ion-label>
          <br />
          <br />
          <ion-label><b>Nombre des places:</b>{{ l.NbrPlace }}</ion-label>
          <br />
          <br />
          <ion-label><b>Type de permis:</b>{{ l.permis }} </ion-label>
          <br />
          <br />
          <ion-label><b>Disponibilité:</b>{{ l.Dispo }} </ion-label>
          <br />
          <br />
          <ion-footer>
            <ion-row>

              <ion-col size="3">
                <ion-button
                  (click)="goToListPage('historiqueCar', l.Matricule)"
                  size="small"
                  color="danger"
                  shape="round"
                >
                  Historique
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-card>
</ion-content>
