<div class="container">
  <div class="row bg_1">
    <h2><i>ajouter un véhicule</i></h2>
    <ion-list>
      <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Matricule</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Type de véhicule</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
     <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Marque</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>


      <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Consommation de carburant</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
      <div class="col-3">
      <ion-item>
       <ion-label position="stacked">Type de carburant</ion-label>

        <ion-select type="text" >
          <ion-select-option value="1">Essence</ion-select-option>
          <ion-select-option value="2">Diesel</ion-select-option>
          <ion-select-option value="3">Carburants gazeux</ion-select-option>
        </ion-select>
        </ion-item>
      </div>
      <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Puissance</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
     <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Capacité</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <div class="col-3">
      <ion-item>
      <ion-label position="stacked">Mot Clé</ion-label>
        <ion-select  type="text" >
          <ion-select-option  >Livraison</ion-select-option>
          <ion-select-option  >Maintenance</ion-select-option>
          <ion-select-option  >Transportation</ion-select-option>
          <ion-select-option  >Déplacement</ion-select-option>
        </ion-select>
        </ion-item>
      </div>
      <div class="col-3">
        <ion-item>
          <ion-label position="stacked"> Année de fabrication</ion-label>
          <ion-input type="date"></ion-input>
        </ion-item>
      </div>
      <div class="col-3">
        <ion-item>
          <ion-label position="stacked">Kilométrage</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </div>




<div class="col-3">
      <ion-item>
      <ion-label position="stacked">Type de permis</ion-label>
        <ion-select  type="text" >
          <ion-select-option  >A</ion-select-option>
          <ion-select-option  >B</ion-select-option>
          <ion-select-option  >C</ion-select-option>
          <ion-select-option  >D</ion-select-option>
          <ion-select-option  >E</ion-select-option>
          <ion-select-option  >H</ion-select-option>

        </ion-select>
        </ion-item>
      </div>>





      <div class="col-3">
        <div class="container-form-btn">
          <ion-button
            shape="round"
            type="submit"
            (click)="addCar()"
            (click)="goToListPage('tables')"
            >Ajouter</ion-button>
        </div>
      </div>
    </ion-list>
  </div>
</div>
