
<ion-content fullscreen="true" >
<ion-card>


<form [formGroup]="form" (ngSubmit)="addReparation()">
  <ion-item>
    <ion-label position="stacked">Matricule</ion-label>

     <ion-select formControlName="Matricule" type="text" name="Matricule" >
    <ion-select-option
            *ngFor="let l of list">
            {{ l.Matricule }}
          </ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item>
    <ion-label position="stacked">Code Entretien</ion-label>

    <ion-select  formControlName="codeEnt" type="text" name="codeEnt">
     <ion-select-option
            *ngFor="let l of listE">
            {{ l.CodeEntretien }}
          </ion-select-option>

    </ion-select>

  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date de réparartion</ion-label>

    <ion-input type="Date" formControlName="date" name="date"></ion-input>
  </ion-item>

<center>
  <ion-button
    size="small"
    shape="round"
    type="submit"
    >Ajouter</ion-button
  >
  </center>
  </form>
  </ion-card>
</ion-content>
