<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> Bilan</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <b>Bilan</b></ion-card-title
      >
    </ion-card-header>
    <ion-grid>
      <ion-card>
        <ion-card-content>
           <ion-grid class>
    <ion-row>
      <ion-col> id </ion-col>

      <ion-col> Véhicule </ion-col>

      <ion-col> Statut </ion-col>
      <ion-col> Action </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"> 1 </ion-col>

      <ion-col> 127TU2019 </ion-col>
      <ion-col> Non effectué </ion-col>

<ion-col>   <ion-button size="small" color="success"> Accorder </ion-button>
          </ion-col>    </ion-row>
    <ion-row>
      <ion-col size="2"> 2 </ion-col>

      <ion-col> 127TU2019 </ion-col>

      <ion-col> effectué </ion-col>
<ion-col>   <ion-button size="small" color="success"> Accorder </ion-button>
           </ion-col>    </ion-row>
    <ion-row>
      <ion-col size="2"> 3 </ion-col>

      <ion-col> 127TU2019 </ion-col>
      <ion-col> effectué </ion-col>
<ion-col>   <ion-button size="small" color="success"> Accorder </ion-button>
           </ion-col>    </ion-row>
    <ion-row>
      <ion-col size="2"> 4 </ion-col>

      <ion-col> 127TU2019 </ion-col>

      <ion-col> effectué </ion-col>
      <ion-col>   <ion-button size="small" color="success"> Accorder </ion-button>
          </ion-col>
    </ion-row>
  </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-card>


</ion-content>
