<app-driver-layout></app-driver-layout>
<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> Bilan</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <b>liste des véhicules affectées</b></ion-card-title
      >
    </ion-card-header>
    <ion-grid>
      <ion-card>
        <ion-card-content>
      <div>

          <ion-label><b>127TU2019</b> </ion-label>
           <ion-button
            size="small"
            color="success"
          >
            Accorder
          </ion-button>
          </div>
          <br />

<div>
          <ion-label><b>127TU2015</b></ion-label>

 <ion-button
            size="small"
            color="success"
          >
            Accorder
          </ion-button>
          </div>
          <br />



    <div>
          <ion-label><b>127TU2015</b></ion-label>

 <ion-button
            size="small"
            color="success"
          >
            Accorder
          </ion-button>
          </div>
          <br />

         <div>
          <ion-label><b>127TU2015</b></ion-label>
          &nbsp;

 <ion-button
            size="small"
            color="success"
          >
            Accorder
          </ion-button>
          </div>
         <br />
        <div>
          <ion-label><b>127TU2015</b></ion-label>

 <ion-button
            size="small"
            color="success"
          >
            Accorder
          </ion-button>
          </div>
          <br />




        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-card>
</ion-content>
