
<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> véhicules</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br/>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"> <b>Planning</b></ion-card-title>
    </ion-card-header>
    <ion-grid >
      <ion-card >
      <ion-card-header color ="light" >
      <ion-label > Matricule: </ion-label>
    </ion-card-header>
        <ion-card-content>
            <ion-label ><b>Destination:
            -Ariana
            -charguia
            -Cité la gazelle</b> </ion-label>
            <br />
            <br />
            <ion-label ><b>Client:
            -XXXXXXX@gmail.com
            -yyyyyyyy@gmail.com
            --uuuuuuu@gmail.com</b></ion-label>
            <br />
            <br />
            <ion-label  ><b>  Date de départ:12-06-2021 12:23AM</b> </ion-label>
            <br />
            <br />

             <ion-button
            size="small"
            color="success">
            Accorder Bilan
          </ion-button>
          <ion-button size="small" color="danger"> Trajet</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-card>
</ion-content>
