<ion-header class="menu-header">
  <ion-toolbar translucent>
    <ion-title> Liste des véhicules disponibles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >Les véhicules associées à votre Demande
      </ion-card-title>
    </ion-card-header>

    <br />
    <ion-label color="dark">
      <b>Les véhicules disponible à 11/05/2021:</b>
    </ion-label>
    <ion-list>
      <br />
      <ion-item>
        <ion-label>Voiture1</ion-label>
        <ion-button color="success" size="small" (click)="_openPopover()"> Réserver </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>voiture2</ion-label>
        <ion-button color="success" size="small"> Réserver </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>voiture3 </ion-label>
        <ion-button color="success" size="small"> Réserver </ion-button>
      </ion-item>
    </ion-list>
    <ion-label color="dark">
      <b> Les véhicules disponibles aprés 11/05/2021:</b>
    </ion-label>
    <ion-list>
      <ion-item>
        <ion-label>voiture1</ion-label>
        <ion-button color="success" size="small"> Réserver </ion-button>
      </ion-item>
      <ion-item>
        <ion-label> Voiture 2</ion-label>
        <ion-button color="success" size="small"> Réserver </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
