
<ion-content fullscreen="true">
  <form>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Objet</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Type de véhicule</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Capacité</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>


    <div class="col-3">
      <ion-item>
        <ion-label position="stacked"> Nombre de place</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked"> date debut</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Date fin</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked">Mot Clé</ion-label>
        <ion-select type="text">
          <ion-select-option>Livraison</ion-select-option>
          <ion-select-option>Maintenance</ion-select-option>
          <ion-select-option>Transportation</ion-select-option>
          <ion-select-option>Déplacement</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-3">
      <ion-item>
        <ion-label position="stacked"> Région</ion-label>
        <ion-input type="texte"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked"> Département</ion-label>
        <ion-input type="texte"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
      <ion-item>
        <ion-label position="stacked"> Rue</ion-label>
        <ion-input type="texte"></ion-input>
      </ion-item>
    </div>
    <div class="col-3">
    <ion-item>
    <ion-label position="stacked"> chauffeur</ion-label>

    <ion-checkbox color="light"></ion-checkbox>
     </ion-item>
     </div>

      <div class="col-3">
    <ion-item>
    <ion-label position="stacked"> Urgence</ion-label>

    <ion-checkbox color="light"></ion-checkbox>
     </ion-item>
     </div>


    <div class="col-3">
      <div class="container-form-btn">
        <ion-button shape="round" type="submit" size="small"
    routerLink="/dispoCar">
        Ajouter
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
